/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 2, 2022, 7:44:00 AM
    Author     : Admin
*/
GridPane {
    -fx-background-color: lightcyan;
    -fx-font-family: Tahoma;
    -fx-hgap: 30;
}

Label {
    -fx-text-fill: darkcyan;
    -fx-padding: 10;
}

Text.Subject {
    -fx-font-size: 40;
    -fx-fill: red;
    -fx-font-weight: bold;
    -fx-stroke: gold;
    -fx-stroke-width: 3;
    
}

Button {
    -fx-text-fill:white; 
    -fx-background-color: darkcyan;
}

